@model Zerog.Web.ViewModels.Laptops.CreateLaptopInputModel

<form method="post" class="col-md-6 offset-md-3" enctype="multipart/form-data">
    <div asp-validation-summary="All" class="text-danger"></div>



    <div class="form-group ">
        <i class="fa fa-microchip"></i>
        <label asp-for="Processor"></label>
        <input asp-for="Processor" list="browsers" class="form-control input" />
        <datalist id="browsers">
            <option value="Edge"> </option>
            <option value="Firefox"></option>
            <option value="Chrome"></option>
            <option value="Opera"></option>
            <option value="Safari"></option>
        </datalist>
        <span asp-validation-for="Processor" class="text-danger"></span>
    </div>



    <div class="form-group">
        <label asp-for="Name"></label>
        <button class="btn  btn-success" type="button" id="Add">Add</button>
        <button class="btn  btn-danger" type="button" id="Remove">Remove</button>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group" id="textboxDiv">
    </div>

    <div class="form-group">
        <i class="fa fa-industry"></i>
        <label asp-for="Manufacturer"></label>
        <input asp-for="Manufacturer" class="form-control" />
        <span asp-validation-for="Manufacturer" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Price"></label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Purpose"></label>
        <input asp-for="Purpose" class="form-control" />
        <span asp-validation-for="Purpose" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Memory"></label>
        <input asp-for="Memory" class="form-control" />
        <span asp-validation-for="Memory" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="MemorySlots"></label>
        <input asp-for="MemorySlots" class="form-control"></input>
        <span asp-validation-for="MemorySlots" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Images"></label>
        <input asp-for="Images" class="form-control" />
        <span asp-validation-for="Images" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="VideoCard"></label>
        <input asp-for="VideoCard" class="form-control" />
        <span asp-validation-for="VideoCard" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="HDD"></label>
        <input asp-for="HDD" class="form-control" />
        <span asp-validation-for="HDD" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="SSD"></label>
        <input asp-for="SSD" class="form-control" />
        <span asp-validation-for="SSD" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="SSD"></label>
        <input asp-for="SSD" class="form-control" />
        <span asp-validation-for="SSD" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Display"></label>
        <input asp-for="Display" class="form-control" />
        <span asp-validation-for="Display" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Camera"></label>
        <input asp-for="Camera" class="form-control" />
        <span asp-validation-for="Camera" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Audio"></label>
        <input asp-for="Audio" class="form-control" />
        <span asp-validation-for="Audio" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="OpticalDevice"></label>
        <input asp-for="OpticalDevice" class="form-control" />
        <span asp-validation-for="OpticalDevice" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="WiFi"></label>
        <input asp-for="WiFi" class="form-control" />
        <span asp-validation-for="WiFi" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Lan"></label>
        <input asp-for="Lan" class="form-control" />
        <span asp-validation-for="Lan" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="KeyboardDetails"></label>
        <input asp-for="KeyboardDetails" class="form-control" />
        <span asp-validation-for="KeyboardDetails" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Extras"></label>
        <input asp-for="Extras" class="form-control" />
        <span asp-validation-for="Extras" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="OperatingSystem"></label>
        <input asp-for="OperatingSystem" class="form-control" />
        <span asp-validation-for="OperatingSystem" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Battery"></label>
        <input asp-for="Battery" class="form-control" />
        <span asp-validation-for="Battery" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Weight"></label>
        <input asp-for="Weight" class="form-control" />
        <span asp-validation-for="Weight" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Demensions"></label>
        <input asp-for="Demensions" class="form-control" />
        <span asp-validation-for="Demensions" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Color"></label>
        <input asp-for="Color" class="form-control" />
        <span asp-validation-for="Color" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Processor"></label>
        <input asp-for="Processor" class="form-control" />
        <span asp-validation-for="Processor" class="text-danger"></span>
    </div>

    <input type="submit" class="btn btn-primary" value="Create" />
</form>

@section Scripts{
    <script>
        $(document).ready(function () {
            $("#Add").on("click", function () {
                $("#textboxDiv").append("<hr><input class='form-control' type='text' id='Name' name='Name' value><span class='text-danger field-validation-valid' data-valmsg-for='Name' data-valmsg-replace='true'></span>");
            });
            $("#Remove").on("click", function () {
                $("#textboxDiv").children().slice(-3).remove();
            });
        });
    </script>
}